# Data Preparation Exercises

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from acquire import *

## Store Items Data

In [ ]:
store_sales = get_store_sales_data()
store_sales.info()

### 1

Convert date column to datetime format.

In [ ]:
# Looks like the trailing 00:00:00 GMT is in all the dates. We'll be sure to leave that out when converting the date.
store_sales.sale_date.head(20)

In [ ]:
store_sales.sale_date.apply(lambda date: date[ : -13]).head(2)

In [ ]:
store_sales.sale_date = store_sales.sale_date.apply(lambda date: date[ : -13])
store_sales.sale_date.head(2)

In [ ]:
store_sales.sale_date = pd.to_datetime(store_sales.sale_date, format='%a, %d %b %Y')

In [ ]:
store_sales.sale_date.head()

### 2

Plot the distribution of sale_amount and item_price.

In [ ]:
sns.histplot(store_sales.sale_amount, bins = 20)
plt.title('We can treat this as approximately normal.');

In [ ]:
sns.histplot(store_sales.item_price, bins = 20)
plt.title('Item price is roughly uniform.');

### 3

Set the index to be the datetime variable.

In [ ]:
store_sales.info()

In [ ]:
store_sales = store_sales.set_index('sale_date').sort_index()
store_sales.info()

### 4

Add a 'month' and 'day of week' column to your dataframe.

In [ ]:
store_sales['month'] = store_sales.index.strftime('%m-%b')

In [ ]:
store_sales['weekday'] = store_sales.index.strftime('%w-%a')

In [ ]:
store_sales.head()

### 5

Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [ ]:
store_sales['sales_total'] = store_sales.sale_amount * store_sales.item_price
store_sales.sales_total.head()

### 6

Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

In [ ]:
from prepare import *

In [ ]:
prepare_data(get_store_sales_data()).info()

In [ ]:
plot_distributions(store_sales[['sale_amount', 'item_price']])

## OPS Data

In [ ]:
ops_data = get_open_power_systems_data()
ops_data.info()

In [ ]:
ops_data.columns = [col.replace('+', '_').lower() for col in ops_data.columns]
ops_data.info()

### 1

Convert date column to datetime format.

In [ ]:
ops_data.date.head()

In [ ]:
ops_data.date = pd.to_datetime(ops_data.date)
ops_data.date.head(2)

### 2

Plot the distribution of each of your variables.

In [ ]:
plt.figure(figsize = (18, 10))
ops_data.hist()
plt.tight_layout();

### 3

Set the index to be the datetime variable.

In [ ]:
ops_data = ops_data.set_index('date').sort_index()
ops_data.info()

### 4

Add a month and a year column to your dataframe.

In [ ]:
ops_data['month'] = ops_data.index.strftime('%m-%b')

In [ ]:
ops_data['year'] = ops_data.index.year

In [ ]:
ops_data.info()

### 5

Fill any missing values.

In [ ]:
ops_data.describe()

In [ ]:
ops_data.tail()

In [ ]:
# wind_solar seems to be the sum of wind and solar

ops_data[ops_data.wind_solar.isna()]

In [ ]:
# Let's re-engineer the wind_solar column
# We'll first set all NaNs to 0
ops_data = ops_data.fillna(0)
ops_data.info()

In [ ]:
# Now all the NaNs are 0. We can re-engineer the wind_solar column
ops_data.wind_solar = ops_data.wind + ops_data.solar

In [ ]:
# Let's verify it worked
ops_data[ops_data.solar == 0]

In [ ]:
ops_data[ops_data.wind == 0]

In [ ]:
ops_data[ops_data.wind_solar == 0]

Looks good. I believe it is safe to assume that wherever 0s remain that is truly a 0 value and not such that all these values should provide the total in consumption.

### 6

Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

In [ ]:
prepare_ops_data(get_open_power_systems_data()).info()